@import url(./reset.css);

body {
  max-width: 1250px;
  margin: 50px auto;
  background: #e5e5e5;
}
.section__name {
  margin-bottom: 40px;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  color: black;
}
.section__name::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  margin: 0 auto;
  background-color: #544435;
}
.button__wrapper {
  display: flex;
  justify-content: center;
}
.button__wrapper button {
   cursor: pointer;
  margin: 0 10px;
  padding: 5px 10px;
  background-color: white;
  border: 2px solid #544435;
  border-radius: 20px;
  transition: all 0.3s ease-out;
}
.button__wrapper button:hover{
   background-color: #544435;
   color: white;
}
.menu__wrapper{
   margin-top: 40px;
   display: grid;
   grid-template-columns: repeat(2, 550px);
   justify-content: center;
   grid-column-gap: 30px;
   grid-row-gap: 30px;
}
.menu__content {
   display: flex;
   align-items: center;
   gap: 20px;
}
img{
   width: 150px;
   height: 150px;
   border-radius: 20px;
   border: 2px solid #544435;
}
.menu__price {
   display: flex;
   justify-content: space-between;
   padding-bottom: 15px;
}
.menu__price p::after{
   content: "";
   display: block;
width: 100%;
height: 2px;
background-color: #544435;
}
