@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ghostwhite;
}

.wrapper {
  width: 550px;
  min-height: 350px;
  margin-top: 100px;
  border-radius: 10px;
  padding: 0 40px;
  box-shadow: 7px 0px 20px 0px #000;
  background-color: white;
}

.header {
  display: flex;
  justify-content: center;
  &-title {
    padding: 60px 0 20px;
    font-weight: 600;
    font-size: 23px;
    color: #0c3755;
  }
}

.main {
  &-input {
    display: flex;
    padding-bottom: 30px;
  }
  &-input__value {
    background-color: #f1f5f8;
    border: none;
    width: 80%;
    margin: 0;
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
    outline: none;
    padding: 7px 7px 7px 12px;
  }
  &-input__btn {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #a5d5f8;
    width: 20%;
    margin: 0;
    padding: 0;
    font-weight: 500;
    border-end-end-radius: 10px;
    border-start-end-radius: 10px;
    color: #27323b;
  }
  &-wrapper__ex {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &-ex__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  &-text__ex {
    color: #516275;
  }
  &-wrapper__btn {
    display: flex;
    gap: 5px;
  }
  &-edit__input{
    
    display: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    color: #516275;
    font-size: 17px;
  }
  &-edit {
    border: none;
    outline: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    background-image: url(../images/edit.png);
  }
  &-basket {
    border: none;
    outline: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    background-image: url(../images/basket.png);
  }
}
.footer {
  display: flex;
  justify-content: center;
  &-del {
    margin: 20px 0;
    cursor: pointer;
    color: #ed9393;
  }
}
@import "media";
